body {
    display: grid;
    justify-content: center;
}
ul {
    list-style: none;
}

header {
    font-family: Arial, Helvetica, sans-serif
    Color green;
    background-origin: padding-box;
    border-top: 10px solid green,

    
}
#button {
    width: 50px;
    color: aquamarine;
};