p {
	color: blue;
	width: 700px;
    margin: 50 auto;
    font-family: Helvetica, sans-serif;
}

p span {
	background-color: #448b14;
	padding: 5px;
}
#add-skill  {
	border: solid thin #153003;
	color: black;
}
body {
    display: grid;
    justify-content: center;
}